.site-title,
.site-author-name,
.site-description {
  font-family: 'Gaegu','NotoSansTC', "PingFang SC", "Microsoft YaHei", sans-serif !important;
  }
.site-meta {
background: #1B294B;
}
.site-author-image {
  &:hover {
      transform: scale(1.05);
      transition: all 500ms ease-in-out;
    }
  }
.site-author-name {
  font-size: 1.75rem;
}
.site-description {
  padding: 0 0.5rem;
  font-size: 1rem;
}
